<div id="<%= dom_id student %>">
  <p>
    <strong>Wno:</strong>
    <%= student.wno %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

    <p>
    <strong>Email:</strong>
    <%= student.user.email %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= student.major %>
  </p>
  <hr>

  <h3>Appointments</h3>
  <%#Student's Appointment%>
  <% if student.appointments.exists? %>
  <table class="table">
    <thead>
      <tr>
        <th>Tutor</th>
        <th>Appointment Date</th>
        <th>Meeting Preference</th>
        <th>Courses</th>
      </tr>
    </thead>
    <tbody>
       <% student.appointments.each do |app| %>
        <tr>
          <td><%= app.tutor.name %></td>
          <td><%= app.on_date.to_fs(:rfc822) %></td>
          <td><%= app.kind %></td>
          <td>
            <ul style="list-style-type:none; margin: 0; padding: 0;">
            <% app.availability.tutor.courses.each do |course| %>
                <li><%= course.prefix %> - <%= course.num %></li>
            <% end %>    
            </ul>
          </td>
        </tr>
      <% end%>
    </tbody>
  </table>
  <% else %>
    <div>
      <p>No appointments currently booked.</p>
    </div>
  <% end %>


</div>
