<div id="<%= dom_id availability %>">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Availability</h5>
    <p class="card-text"><strong>Tutor:</strong><%=availability.tutor_id%></p>
    <p class="card-text"><strong>Day:</strong><%=availability.day%></p>
    <p class="card-text"><strong>Starts at:</strong><%=availability.starts_at%></p>
    <p class="card-text"><strong>Ends at:</strong><%=availability.ends_at%></p>
  </div>
</div>
</div>