<%= form_with(model: availability, class: "needs-validation", novalidate: true) do |form| %>
  <% if availability.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(availability.errors.count,"error")%> prohibited this availability from being saved:</h2>
      <ul>
        <% availability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :tutor_id, class: "form-label" %>
    <%= form.text_field :tutor_id, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :day, class: "form-label" %>
    <%= form.number_field :day, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label:starts_at,class:"form-label" %>
    <%= form.time_field :starts_at,class:"form-control"%>
  </div>
  <div class="mb-3">
    <%= form.label :ends_at, class: "form-label" %>
    <%= form.time_field :ends_at, class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= form.submit "Save",class:"btn btn-primary"%>
  </div>
<% end %>