<p style="color: green"><%= notice %></p>

<h1>Availabilities</h1>

<div id="availabilities">
  <% @availabilities.each do |availability| %>
    <%= render availability %>
    <p>
      <%= link_to "Show this availability", availability %>
    </p>
  <% end %>
</div>

<%= link_to "New availability", new_tutor_availability_path(@tutor)%>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <p class="alert alert-success"><%= notice %></p>
      <h1 class="mb-4">Availabilities</h1>
      <div id="availabilities">
        <% @availabilities.each do |availability| %>
          <%= render availability %>
          <p>
            <%=link_to "Show this availability",availability,class: "btn btn-primary"%>
          </p>
        <% end %>
      </div>
      <%= link_to "New availability",new_tutor_availability_path(@tutor),class: "btn btn-success"%>
      <%= link_to "New availability",new_tutor_availability_path(@tutor),class: "btn btn-success"%>
    </div>
  </div>
</div>